# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
workflow-platform
workflow-server
server

# Test binary
*.test

# Go workspace
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.superpowers/

# Database
workflow.db
workflow.db-shm
workflow.db-wal

# Frontend dependencies
web/node_modules/

# Frontend build output
web/dist/
